* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
}

header, section {
     width: 100%;
     padding: 3.5rem 1.2rem;
}

section:first-of-type {
     padding: 0 1.2rem;
}

.limite-secao {
     width: 100%;
     max-width: 1024px;
     margin: 0 auto;
}